:root {
	--color-brand: var(--pay);
	--color-brand-half: var(--pay-half);
	--color-brand-transparent: var(--pay-transparent);
}

/* SIDE MENU */
.side-menu .manual-de-marca .iso {
	background-image: url("../../content/identidad/ecosistema/pay/logos/svg/pay_iso_blanco.svg");
}
.side-menu a.manual-de-marca {
	background-color: var(--pay-transparent);
}
.side-menu a:hover.manual-de-marca {
	background-color: var(--pay);
}
/* SIDE MENU end */

#pay .brand-top.backlight-top::before {
	background: radial-gradient(
		80vw circle at 50vw -10%,
		var(--pay),
		var(--pay-null) 50%
	);
	left: 0;
}

#pay .brands-content #nuestro-ecosistema .box {
	border-color: var(--pay);
	background-color: var(--pay-transparent);
}

#pay #tamanos [class*="stg-col-"] .cs-grid-2cols div:nth-child(2) .cs-block {
	background-color: var(--pay);
}
