:root {
	--color-brand: var(--smarthome);
	--color-brand-half: var(--smarthome-half);
	--color-brand-transparent: var(--smarthome-transparent);
}

/* SIDE MENU */
.side-menu .manual-de-marca .iso {
	background-image: url("../../content/identidad/ecosistema/smarthome/logos/svg/smarthome_iso_blanco.svg");
}
.side-menu a.manual-de-marca {
	background-color: var(--smarthome-transparent);
}
.side-menu a:hover.manual-de-marca {
	background-color: var(--smarthome);
}
/* SIDE MENU end */

#smarthome .brand-top.backlight-top::before {
	background: radial-gradient(
		80vw circle at 50vw -10%,
		var(--smarthome),
		var(--smarthome-null) 50%
	);
	left: 0;
}
