/****** FONTS ******/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
	font-family: "Pulso";
	src:
		url(../fonts/Pulso-Regular.woff2) format("woff2"),
		url(../fonts/Pulso-Regular.woff) format("woff"),
		url(../fonts/Pulso-Regular.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Pulso";
	src:
		url(../fonts/Pulso-Light.woff2) format("woff2"),
		url(../fonts/Pulso-Light.woff) format("woff"),
		url(../fonts/Pulso-Light.ttf) format("truetype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Pulso";
	src:
		url(../fonts/Pulso-Bold.woff2) format("woff2"),
		url(../fonts/Pulso-Bold.woff) format("woff"),
		url(../fonts/Pulso-Bold.ttf) format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
.ff-pulso {
	font-family: "Pulso" !important;
}
.ff-roboto {
	font-family: "Roboto" !important;
}
.fw-100 {
	font-weight: 100;
}
.fw-thin {
	font-weight: 200;
}
.fw-extralight {
	font-weight: 200;
}
.fw-300 {
	font-weight: 300;
}
.fw-400 {
	font-weight: 400;
}
.fw-500 {
	font-weight: 500;
}
.fw-600 {
	font-weight: 600;
}
.fw-700,
strong {
	font-weight: 700;
}
.fw-800 {
	font-weight: 800;
}
.fw-900 {
	font-weight: 900;
}
em {
	font-style: italic !important;
}


/****** BASE ******/
html {
	scroll-behavior: smooth;
}
nav.cs-nav ul.sub-menu li a {
	color: var(--comustock-blue);
}
nav.cs-nav ul.sub-menu li.product a {
	font-weight: 300;
}
a {
	color: var(--comustock);
	z-index: 10 !important;
	cursor: pointer !important;
	transition: all 0.2s ease-in-out;
}
a:hover {
	color: var(--comustock-hover);
}
li.disable,
a.disable {
	pointer-events: none;
	opacity: 0.8;
}
li.off,
a.off {
	pointer-events: none;
}
p {
	font-family: var(--cs-roboto) !important;
	font-weight: 300;
}
.mb-0 {
	margin-bottom: 0 !important;
}
p,
.cs-large-text {
	color: var(--cs-s-text);
}
h2.light,
h3.light,
h4.light,
h5.light {
	font-weight: 300;
}
.pt-40 {
	padding-top: 40px;
}
.pt-50 {
	padding-top: 50px;
}
.pb-30 {
	padding-bottom: 30px;
}
.clarification {
	padding: 20px 0 0 40px;
}
.clarification p {
	margin-bottom: 0;
	font-size: var(--cs-t-input-fs);
	font-style: italic;
}
.crossed-out {
	text-decoration: line-through;
	opacity: 0.5;
}
.cs-accent {
	color: var(--comustock);
}
.upper-bold {
	font-size: var(--cs-t-meta-fs);
	font-weight: var(--cs-t-meta-fw);
	letter-spacing: var(--cs-t-meta-ls);
	color: var(--cs-s-accented-text);
	text-transform: uppercase;
	display: block;
	height: auto;
	width: 100%;
	line-height: 1;
	text-align: center;
}
.flex-vc {
	justify-content: center !important;
}
.cs-square-button {
	border-width: 2px;
}
a.button-medium {
	width: var(--cs-button-medium);
	height: var(--cs-button-medium);
}
a.button-small {
	width: var(--cs-button-small);
	height: var(--cs-button-small);
}
.subline {
	position: absolute;
	transform: translate(-92%, 5px);
}
p.lead {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.2;
}
.under {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}
.under p {
	font-weight: 500;
	color: var(--cs-s-heading);
	padding: 5px 15px;
	border: 1px solid var(--cs-s-heading);
	border-radius: 35px;
}
#cs-header {
    background: #ffffffdd;
}

/****** CS ICON LINK ******/
.cs-icon-link > * {
	transition: all 0.3s ease 0s !important;
}
.cs-icon-link i {
	transform: scale(2);
}
.cs-icon-link span {
	opacity: 0;
	line-height: 1;
}
.cs-icon-link:hover i {
	transform: scale(1.8);
}
.cs-icon-link:hover span {
	opacity: 1;
}
a.cs-button {
	font-weight: 400;
}
.cs-square-button {
	/* width: 100%;
  height: 100%; */
	/* border-width: 0 !important; */
	border-width: 2px;
	background-color: ffffff00;
	transition: all 0.3s ease 0s !important;
}
.cs-square-button img {
	max-height: 30%;
	transition: all 0.3s ease 0s !important;
}
.cs-square-button:hover {
	background-color: #fff;
}
.cs-square-button:hover img {
	transform: scale(1.1);
}
.cs-square-button:hover {
	transform: scale(1.05);
	border-color: transparent;
}
.cs-icon-wrap::before {
	border: 2px solid var(--cs-s-heading);
}
.cs-grid-more-masked a .cs-icon,
.cs-detailed-list .cs-detailed-list-item span.cs-icon {
	background: var(--comustock-blue);
}
.cs-icon-link .cs-icon-wrap:hover .cs-icon,
.cs-grid-more-masked a:hover .cs-icon,
.cs-masked-block a span.cs-square-button:hover .cs-icon,
.cs-detailed-list .cs-detailed-list-item:hover span.cs-icon:hover,
.cs-button .cs-icon,
.cs-square-button:not(.is-secondary) .cs-icon:hover,
.is-accented .cs-icon:hover {
	background: var(--comustock-light-grey);
}

input[type="button"],
input[type="reset"],
input[type="submit"],
button:not([class*="pswp"]),
a.cs-button,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:not([class*="pswp"]):hover,
a:hover.cs-button {
	color: var(--comustock-light-grey);
}

section {
	padding: var(--cs-section-gap-min) 0;
}

/****** ICONS ******/
.cs-icon-comustock {
	-webkit-mask-image: var(--icon-cs-comustock);
	mask-image: var(--icon-cs-comustock);
}
.cs-icon-asterisk {
	-webkit-mask-image: var(--icon-cs-asterisk);
	mask-image: var(--icon-cs-asterisk);
}
.cs-icon-plus {
	-webkit-mask-image: var(--icon-cs-plus);
	mask-image: var(--icon-cs-plus);
}
.cs-icon-file {
	-webkit-mask-image: var(--icon-cs-file);
	mask-image: var(--icon-cs-file);
}
.cs-icon-sign {
	-webkit-mask-image: var(--icon-cs-sign);
	mask-image: var(--icon-cs-sign);
}
.cs-icon-email {
	-webkit-mask-image: var(--icon-cs-email);
	mask-image: var(--icon-cs-email);
}
.cs-icon-presentation {
	-webkit-mask-image: var(--icon-cs-presentation);
	mask-image: var(--icon-cs-presentation);
}
.cs-icon-post {
	-webkit-mask-image: var(--icon-cs-post);
	mask-image: var(--icon-cs-post);
}
.cs-icon-copy {
	-webkit-mask-image: var(--icon-cs-copy);
	mask-image: var(--icon-cs-copy);
}
.cs-icon-image {
	-webkit-mask-image: var(--icon-cs-image);
	mask-image: var(--icon-cs-image);
}
.cs-icon-film {
	-webkit-mask-image: var(--icon-cs-film);
	mask-image: var(--icon-cs-film);
}
.cs-icon-arrow-right {
	-webkit-mask-image: var(--icon-cs-arrow-right);
	mask-image: var(--icon-cs-arrow-right);
}
.cs-icon-templates {
	-webkit-mask-image: var(--icon-cs-templates);
	mask-image: var(--icon-cs-templates);
}
.cs-icon-galerias {
	-webkit-mask-image: var(--icon-cs-galerias);
	mask-image: var(--icon-cs-galerias);
}
.cs-icon-recursos {
	-webkit-mask-image: var(--icon-cs-recursos);
	mask-image: var(--icon-cs-recursos);
}
.cs-icon-toolkits {
	-webkit-mask-image: var(--icon-cs-toolkits);
	mask-image: var(--icon-cs-toolkits);
}
a.cs-masked-content.at-bottom-right .cs-square-button {
	transition: all 0.3s ease 0s !important;
}

/****** SOCIAL ICONS ******/
.social-icon-facebook {
	-webkit-mask-image: var(--icon-social-facebook);
	mask-image: var(--icon-social-facebook);
}
.social-icon-instagram {
	-webkit-mask-image: var(--icon-social-instagram);
	mask-image: var(--icon-social-instagram);
}
.social-icon-x {
	-webkit-mask-image: var(--icon-social-x);
	mask-image: var(--icon-social-x);
}
.social-icon-linkedin {
	-webkit-mask-image: var(--icon-social-linkedin);
	mask-image: var(--icon-social-linkedin);
}
.social-icon-youtube {
	-webkit-mask-image: var(--icon-social-youtube);
	mask-image: var(--icon-social-youtube);
}
.social-icon-tiktok {
	-webkit-mask-image: var(--icon-social-tiktok);
	mask-image: var(--icon-social-tiktok);
}
.social-icon-web {
	-webkit-mask-image: var(--icon-social-web);
	mask-image: var(--icon-social-web);
}
