:root {
	--cs-s-body-bg: #07090d;
	--cs-s-nav: #07090dcc;
	--cs-s-container-bg: #1a1d24;
	--cs-s-container-bg-half: #1a1d2477;
	--cs-s-container-frosted: #1a1d24ee;
	--cs-s-container-frosted-alt: #313746;
	--cs-s-heading: #f5f7fa;
	--cs-s-heading-fade: #f5f7fac0;
	--cs-s-text: #c5c7ce;
	--cs-s-accented-text: var(--cs-s-heading);
	--cs-s-border: #f5f7fa27;
	--cs-s-border-mute: #f5f7fa0d;
	--cs-s-border-highlight: #f5f7fa40;
	--cs-s-backlight: #f5f7fa12;
	--cs-s-box-shadow: #07090d10;
	--cs-s-cursor-light: var(--cs-s-backlight);
	--cs-c-border-gradient: linear-gradient(
		to left,
		transparent,
		var(--cs-s-border),
		transparent
	);
	--cs-c-menu: var(--cs-s-text);
	--cs-c-menu-hover: var(--cs-s-heading);
	--cs-c-menu-active: var(--cs-s-heading);

	/*** greys ***/
	--white: #fff;
	--black: #000;
	--black-null: #00000000;
	--lightgrey: #f5f5f5;
	--darkgrey: #1a1d24;
	--darkgrey-mid: #1a1d2422;
	--darkgrey-low: #1a1d240a;
}

nav.cs-nav ul.sub-menu li a,
input[type="button"],
input[type="reset"],
input[type="submit"],
button:not([class*="pswp"]),
a.cs-button {
	color: var(--cs-s-heading) !important;
}
.cs-grid-more-masked a .cs-icon,
.cs-detailed-list .cs-detailed-list-item span.cs-icon {
	background: var(--cs-s-heading) !important;
}
.f-button svg {
	stroke: var(--cs-s-heading) !important;
}

#cs-header {
	background: var(--cs-s-nav) !important;
}
