/****** FONTS ******/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

@font-face {
	font-family: "Pulso";
	src:
		url(../fonts/Pulso-Regular.woff2) format("woff2"),
		url(../fonts/Pulso-Regular.woff) format("woff"),
		url(../fonts/Pulso-Regular.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Pulso";
	src:
		url(../fonts/Pulso-Light.woff2) format("woff2"),
		url(../fonts/Pulso-Light.woff) format("woff"),
		url(../fonts/Pulso-Light.ttf) format("truetype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Pulso";
	src:
		url(../fonts/Pulso-Bold.woff2) format("woff2"),
		url(../fonts/Pulso-Bold.woff) format("woff"),
		url(../fonts/Pulso-Bold.ttf) format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

.fw-light {
	font-weight: 300;
}

.fw-regular {
	font-weight: 400;
}

.fw-bold {
	font-weight: 700;
}

.ff-pulso {
	font-family: "Pulso" !important;
}
.ff-roboto {
	font-family: "Roboto" !important;
}

/****** VARIOS ******/
html {
	scroll-behavior: smooth;
}

nav.cs-nav ul.sub-menu li.product a {
	font-weight: 300;
}

a {
	color: var(--comustock);
	z-index: 10 !important;
	cursor: pointer !important;
	transition: all 0.2s ease-in-out;
}

a:hover {
	color: var(--comustock-hover);
}

li.disable,
a.disable {
	pointer-events: none;
	opacity: 0.8;
}

p {
	font-family: var(--cs-roboto) !important;
	font-weight: 300;
}

.mb-0 {
	margin-bottom: 0 !important;
}

p,
.cs-large-text {
	color: var(--cs-s-text);
}

h2.light,
h3.light,
h4.light,
h5.light {
	font-weight: 300;
}

.pt-40 {
	padding-top: 40px;
}
.pt-50 {
	padding-top: 50px;
}

.pb-30 {
	padding-bottom: 30px;
}

.clarification {
	padding: 20px 0 0 40px;
}
.clarification p {
	margin-bottom: 0;
	font-size: var(--cs-t-input-fs);
	font-style: italic;
}
.crossed-out {
	text-decoration: line-through;
	opacity: 0.5;
}

.cs-accent {
	color: var(--comustock);
}

.upper-bold {
	font-size: var(--cs-t-meta-fs);
	font-weight: var(--cs-t-meta-fw);
	letter-spacing: var(--cs-t-meta-ls);
	color: var(--cs-s-accented-text);
	text-transform: uppercase;
	display: block;
	height: auto;
	width: 100%;
	line-height: 1;
	text-align: center;
}

.flex-vc {
	justify-content: center !important;
}

.cs-square-button {
	border-width: 2px;
}

a.button-medium {
	width: var(--cs-button-medium);
	height: var(--cs-button-medium);
}

.subline {
	position: absolute;
	transform: translate(-92%, 5px);
}

p.lead {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.2;
}

.under {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

.under p {
	font-weight: 500;
	color: var(--cs-s-heading);
	padding: 5px 15px;
	border: 1px solid var(--cs-s-heading);
	border-radius: 35px;
}

/****** ICONS ******/
.cs-icon-comustock {
	-webkit-mask-image: var(--icon-cs-comustock);
	mask-image: var(--icon-cs-comustock);
}

.cs-icon-asterisk {
	-webkit-mask-image: var(--icon-cs-asterisk);
	mask-image: var(--icon-cs-asterisk);
}

.cs-icon-plus {
	-webkit-mask-image: var(--icon-cs-plus);
	mask-image: var(--icon-cs-plus);
}

.cs-icon-file {
	-webkit-mask-image: var(--icon-cs-file);
	mask-image: var(--icon-cs-file);
}

.cs-icon-sign {
	-webkit-mask-image: var(--icon-cs-sign);
	mask-image: var(--icon-cs-sign);
}

.cs-icon-email {
	-webkit-mask-image: var(--icon-cs-email);
	mask-image: var(--icon-cs-email);
}

.cs-icon-presentation {
	-webkit-mask-image: var(--icon-cs-presentation);
	mask-image: var(--icon-cs-presentation);
}

.cs-icon-post {
	-webkit-mask-image: var(--icon-cs-post);
	mask-image: var(--icon-cs-post);
}

.cs-icon-copy {
	-webkit-mask-image: var(--icon-cs-copy);
	mask-image: var(--icon-cs-copy);
}

.cs-icon-image {
	-webkit-mask-image: var(--icon-cs-image);
	mask-image: var(--icon-cs-image);
}

.cs-icon-film {
	-webkit-mask-image: var(--icon-cs-film);
	mask-image: var(--icon-cs-film);
}

.cs-icon-arrow-right {
	-webkit-mask-image: var(--icon-cs-arrow-right);
	mask-image: var(--icon-cs-arrow-right);
}

.cs-icon-templates {
	-webkit-mask-image: var(--icon-cs-templates);
	mask-image: var(--icon-cs-templates);
}

.cs-icon-galerias {
	-webkit-mask-image: var(--icon-cs-galerias);
	mask-image: var(--icon-cs-galerias);
}

.cs-icon-recursos {
	-webkit-mask-image: var(--icon-cs-recursos);
	mask-image: var(--icon-cs-recursos);
}

.cs-icon-toolkits {
	-webkit-mask-image: var(--icon-cs-toolkits);
	mask-image: var(--icon-cs-toolkits);
}

a.cs-masked-content.at-bottom-right .cs-square-button {
	transition: all 0.3s ease 0s !important;
}

/****** SOCIAL ICONS ******/
.social-icon-facebook {
	-webkit-mask-image: var(--icon-social-facebook);
	mask-image: var(--icon-social-facebook);
}

.social-icon-instagram {
	-webkit-mask-image: var(--icon-social-instagram);
	mask-image: var(--icon-social-instagram);
}

.social-icon-x {
	-webkit-mask-image: var(--icon-social-x);
	mask-image: var(--icon-social-x);
}

.social-icon-linkedin {
	-webkit-mask-image: var(--icon-social-linkedin);
	mask-image: var(--icon-social-linkedin);
}

.social-icon-youtube {
	-webkit-mask-image: var(--icon-social-youtube);
	mask-image: var(--icon-social-youtube);
}

.social-icon-tiktok {
	-webkit-mask-image: var(--icon-social-tiktok);
	mask-image: var(--icon-social-tiktok);
}

.social-icon-web {
	-webkit-mask-image: var(--icon-social-web);
	mask-image: var(--icon-social-web);
}

/****** CONTENIDO ******/
/*** home intro ***/
#home #intro .cs-icon-link {
	justify-content: flex-start;
}
#home #intro {
    padding: 60px 0;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

#home #intro .cs-hero-type03 .cs-hero-title-wrap {
	display: flex;
	text-align: center;
	justify-content: center;
	padding: 50px 0 10px;
}

#home #intro #ecosistema.stg-row {
	margin: 0 calc(-0.5 * var(--cs-gap-24));
	width: calc(100% + var(--cs-gap-24));
}
#home #intro #ecosistema.stg-row > .stg-col-x7 {
	width: calc(14.28% - var(--cs-gap-24));
	margin: 0 calc(0.5 * var(--cs-gap-24));
}

.cs-icon-link > *,
#home #intro .cs-icon-link .cs-icon-wrap {
	transition: all 0.3s ease 0s !important;
}

.cs-icon-link i {
	transform: scale(2);
}

.cs-icon-link span {
	opacity: 0;
	line-height: 1;
}

#home #intro .cs-icon-link .cs-icon-wrap {
	width: 128px;
	height: 128px;
	min-height: 128px;
	transition: all 0.3s ease 0s !important;
}

.cs-icon-link:hover i {
	transform: scale(1.8);
}

.cs-icon-link:hover span {
	opacity: 1;
}

#home #intro .cs-icon-link:hover .cs-icon-wrap {
	min-height: 100px;
}

a.cs-button {
	font-weight: 400;
}

#home #intro .cs-icon-wrap::before {
	background-color: #f4f4f40f;
	border-color: #f4f4f40f;
	transition: all 0.3s ease 0s !important;
}

#home #intro .cs-icon-wrap:hover::before {
	background-color: #f4f4f41f;
}

/*** ecosistema ***/
#ecosistema .cs-square-button {
	width: 100%;
	height: 100%;
	border-width: 1px !important;
	transition: all 0.3s ease 0s !important;
}

#ecosistema .cs-square-button img {
	max-height: 30%;
	transition: all 0.3s ease 0s !important;
}

#ecosistema .cs-square-button:hover img {
	transform: scale(1.1);
}

.cs-square-button.telecom {
	background-color: var(--telecom);
	border-color: var(--telecom-dark);
}

.cs-square-button.personal {
	background-color: var(--personal);
	border-color: var(--personal-dark);
}

.cs-square-button.flow {
	background-color: var(--flow-black);
	border-color: var(--flow-gray);
}

.cs-square-button.personalPay {
	background-color: var(--personalPay);
	border-color: var(--personalPay-dark);
}

.cs-square-button:hover {
	transform: scale(1.05);
	border-color: transparent;
}

.cs-icon-wrap::before {
	border: 1px solid var(--cs-s-heading);
}

/*** templates ***/

#home #templates .cs-templates .is-small .cs-masked-content {
	width: 90px;
	height: 90px;
}
#home #templates .cs-templates .is-small .cs-square-button {
	border-radius: var(--cs-small-br);
}
#home #templates .cs-templates .is-small .cs-square-button span.cs-icon {
	width: 22px;
	height: 22px;
}

#home #templates .cs-masked-content.at-bottom-right .cs-square-button {
	padding: 0;
	margin: calc(1.5 * var(--stg-small-gap)) 0 0 calc(1.5 * var(--stg-small-gap));
	transition: all 0.3s ease 0s !important;
}

#home #templates .cs-masked-block:hover .cs-square-button {
	transform: scale(1.1);
	color: #fff;
	border-color: var(--cs-s-accent);
	background-color: var(--cs-s-accent);
}

#home #templates .cs-masked-block:hover .cs-square-button span.cs-icon {
	transform: scale(1.1);
	background-color: var(--comustock-light-gray);
}

#home #templates .cs-templates .cs-bento-grid .is-large p {
	max-width: unset;
	padding-right: 128px;

	background: red;
	width: calc(100% - 128px);
	padding-right: 0;
	padding: 8px 12px;
	border-radius: 10px;
}

.cs-bento-grid div[data-bg-src] p,
.cs-bento-grid div[data-bg-src] h1,
.cs-bento-grid div[data-bg-src] h2,
.cs-bento-grid div[data-bg-src] h3,
.cs-bento-grid div[data-bg-src] h4,
.cs-bento-grid div[data-bg-src] h5,
.cs-bento-grid div[data-bg-src] h6,
.cs-bento-grid div[data-bg-src] p.cs-large-text {
	color: var(--comustock-light-gray);
}

#home #templates .cs-templates .cs-bento-grid .is-medium {
	border-bottom-right-radius: var(--cs-small-br);
	overflow: unset;
}

#home #templates .cs-templates .is-medium .cs-masked-content.at-bottom-right {
	width: 104px;
	height: 104px;
}

#home #templates .cs-templates .is-medium .cs-square-button {
	width: 80px;
	height: 80px;
	border-radius: var(--cs-small-br);
}

#home #templates .cs-templates .cs-bento-grid .is-medium p {
	padding-right: 96px;
}

#home #templates .cs-templates .is-small h4 {
	position: relative;
	left: -3px;
	top: -3px;
	z-index: 11;
}

#home #templates .cs-templates .is-small a {
	transition: all 0.3s ease 0s !important;
}

#home #templates .cs-page-title {
	background: var(--comustock-blue);
	color: var(--comustock-light-gray);
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	padding: 10px 22px 14px;
	border-radius: var(--cs-small-br);
	transform: translate(2px, 9px);
}

#home #templates .cs-templates .is-small a:hover {
	transform: scale(1.03);
}

#home #templates .is-medium .cs-page-title {
	transform: translate(0, 5px);
}

/*** galerias ***/
#home #galerias .cs-parallax-media .st-lazy-wrapper {
	border-radius: var(--cs-xs-br);
}

#home #galerias .cs-carousel-card-footer {
	padding: 25px 0 15px 10px;
}
#home #galerias .cs-portfolio-card-footer {
	padding: 30px 9px 9px 9px;
}

/*** recursos ***/
#home #recursos .cs-masked-block:hover .cs-square-button.is-secondary {
	background: transparent;
	border-color: var(--cs-button-hover-bg);
}

#home #recursos a:hover.cs-masked-content.at-bottom-right .cs-square-button {
	transform: scale(1.1);
	background: var(--comustock);
}

#home #recursos .cs-grid-more-masked .cs-masked-media {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

#home #recursos .cs-grid-more-masked .cs-masked-media ul {
	display: flex;
	/* flex-direction: row; */
	flex-wrap: wrap;
	justify-content: space-between;
}

#home #recursos .cs-grid-more-masked .cs-masked-media ul li a {
	position: relative;
	color: #fff;
}

#home #recursos .cs-grid-more-masked .cs-masked-media ul li a:hover {
	z-index: 1111;
}

#fuentes.cs-grid-more-masked .cs-masked-media ul li a {
	align-items: flex-end;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 16px;
}

#home #recursos .cs-grid-more-masked .cs-masked-media p {
	position: relative;
}

ul.cs-buttons-list.stg-xs-gap-recursos {
	gap: var(--stg-xs-gap-recursos);
}

.cs-buttons-list a.xs {
	width: 45px;
	height: 45px;
}

#home #recursos .cs-buttons-list li a img {
	-webkit-filter: brightness(0) saturate(100%) invert(100%);
	filter: brightness(0) saturate(100%) invert(100%);
}

#home #mas-herramientas.cs-grid-more-masked .cs-masked-media ul {
	display: flex;
	flex-direction: column;
	padding-left: 20px;
}

#home
	#mas-herramientas.cs-grid-more-masked
	.cs-masked-media
	ul.cs-buttons-list {
	gap: 0;
}

#home #mas-herramientas.cs-grid-more-masked .cs-masked-media ul li {
	list-style: disc !important;
	display: list-item;
	padding: 0;
}

#home #mas-herramientas.cs-grid-more-masked .cs-masked-media ul li a {
	width: unset !important;
	max-width: -webkit-fit-content;
	max-width: -moz-fit-content;
	max-width: fit-content;
	height: unset !important;
	justify-content: unset;
	border-radius: unset;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.6;
	letter-spacing: 0.2px;
}

#home #mas-herramientas.cs-grid-more-masked .cs-masked-media ul li a::before {
	border: none;
}

#home #mas-herramientas.cs-grid-more-masked .cs-masked-media ul li a:hover {
	border: none;
	background: none !important;
	color: var(--comustock);
}

/*** toolkits ***/
#home #toolkits .cs-detailed-list li {
	align-items: center;
	transition: all 0.3s ease 0s !important;
}

#home #toolkits .cs-detailed-list li > div {
	transition: all 0.3s ease 0s !important;
}

#home #toolkits .cs-detailed-list .cs-detailed-list-preview {
	position: absolute;
	width: 96px;
	height: 96px;
	left: -120px;
	top: calc(50% - 48px);
	background: no-repeat center;
	background-size: cover;
	pointer-events: none;
	opacity: 0;
	transition: all 0.3s ease 0s !important;
}

#home #toolkits .cs-detailed-list .cs-detailed-list-preview img {
	border-radius: var(--cs-small-br) !important;
}

#home #toolkits .cs-detailed-list .cs-detailed-list-title {
	min-width: calc(35% - var(--stg-gap));
	max-width: calc(35% - var(--stg-gap));
}

#home #toolkits .cs-detailed-list .cs-detailed-list-description {
	min-width: calc(60% - 2 * var(--stg-gap) - 120px);
	max-width: calc(60% - 2 * var(--stg-gap) - 120px);
}

#home #toolkits .cs-detailed-list-item:hover .cs-detailed-list-title {
	transform: translateX(125px);
}

#home #toolkits .cs-detailed-list li:hover .cs-detailed-list-description {
	transform: translateX(60px);
}

#home #toolkits .cs-detailed-list-item:hover .cs-detailed-list-preview {
	opacity: 1;
	left: 0;
}

#home #toolkits .cs-detailed-list-item:hover .cs-detailed-list-button {
	transform: scale(1.1);
}

/*** HacemosLaComuFacil ***/
#home #HacemosLaComuFacil .cs-hero-form {
	flex-direction: column;
}

#home #HacemosLaComuFacil .form-inputs {
	display: flex;
}

#home #HacemosLaComuFacil .form-inputs {
	display: flex;
	flex-direction: row;
	width: 100%;
}

#home #HacemosLaComuFacil .form-inputs textarea {
	height: 90px;
}

#home #HacemosLaComuFacil .form-inputs input {
	margin-right: var(--stg-small-gap);
}

/* TEMPLATES */
#main-templates #presentaciones h2 {
	font-size: 46px;
}
#main-templates #presentaciones .cs-masked-content {
	max-width: 50%;
}
#main-templates #presentaciones .cs-column-item .cs-icon-wrap::before,
#main-templates #presentaciones .cs-column-item-content .cs-icon-wrap .cs-icon {
	cursor: default;
	transition: all 0.2s ease-in-out;
}

#main-templates #presentaciones .cs-column-item:hover .cs-icon-wrap::before {
	border-color: var(--comustock);
}

#main-templates #presentaciones .cs-icon-wrap::before {
	border-width: 2px;
}

#main-templates .ejemplos .cs-column-item-content .cs-icon-wrap {
	width: 60px;
	height: 60px;
}
#main-templates .ejemplos .cs-masked-content {
	max-width: 65%;
}

#main-templates .ejemplos .cs-column-item.cs-masked-block {
	margin-bottom: 0;
}

#main-templates .ejemplos .cs-column-item-title {
	padding-left: var(--stg-xs-gap);
}
#main-templates .ejemplos .cs-column-item-content {
	min-width: calc(0.275 * var(--stg-container-width));
}
#main-templates .ejemplos .cs-section-title {
	margin-bottom: 0;
}

#main-templates .ejemplos .cs-section-title.cs-section-title.sub.subtitle {
	margin-bottom: 18px;
}

#main-templates #presentaciones .cs-column-item:not(:last-child) {
	margin-bottom: 0;
}

/* GALERIAS */

#main-galerias .slider {
	padding: 50px 0 60px;
}
#main-galerias .slider .cs-page-title {
	margin-top: 50px;
}

.cs-section-title {
	margin-top: 18px;
	margin-bottom: 50px;
}

.cs-section-title.subtitle {
	margin-top: 40px;
	margin-bottom: 20px;
}
.cs-section-title.ejemplos,
.cs-section-title.sub.subtitle {
	margin-top: 0;
	margin-bottom: 0;
}

.video {
	max-width: 100%;
	height: auto;
}

#main-galerias .cs-grid-3cols .cs-square-button {
	width: 44px;
	height: 44px;
	border-radius: 14px;
	border-width: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#main-galerias .imagenes-y-videos .cs-grid-3cols .cs-square-button span.cs-icon,
#main-galerias
	.nuestros-espacios
	.cs-grid-3cols
	.cs-square-button
	span.cs-icon {
	width: 18px;
	height: 18px;
}
#main-galerias .gal-container {
	background-color: var(--cs-s-container-bg-half);
}
#main-galerias .cs-toggles-item--content span {
	margin-bottom: 0;
}
#main-galerias .cs-toggles-item--title {
	display: flex;
	gap: 40px;
	align-items: center;
}
#main-galerias .cs-toggles-item--title img {
	border-radius: 10px;
	height: 100px;
}

#main-galerias .cs-toggles-item--title .cs-label {
	margin-top: 0;
}

#main-galerias .cs-toggles-item--title h4 {
	margin-bottom: 0;
}

#main-galerias #carteleras .cs-square-button {
	width: 58px;
	height: 58px;
}
#main-galerias #carteleras .cs-portfolio-card-footer {
	padding-left: 9px;
}
#main-galerias #nuestros-espacios .cs-list-with-preview {
	flex-direction: row-reverse;
}

#main-galerias .tab-container {
	width: 100%;
	margin: auto;
	overflow: hidden;
}
#main-galerias .tab-cont {
	float: left;
	width: 20%;
	display: flex;
	flex-direction: column;
}
#main-galerias .tab-cont button {
	width: 100%;
	background-color: inherit;
	padding: 18px;
	font-size: 16px;
	font-weight: 400;
}
#main-galerias .tab-cont button:hover {
	background-color: #ccc;
}
#main-galerias .tab-content {
	display: none;
	height: 100%;
	float: left;
	padding-left: 40px;
	width: 80%;
	-webkit-animation: anime 1s;
	animation: anime 1s;
}

#main-galerias .tab-content h2 {
	font-size: 24px;
	font-weight: 400;
	margin: 20px 0 10px 0;
}
#main-galerias .tab-content p {
	font-weight: 100;
	color: #666;
	margin-top: 20px;
}

@-webkit-keyframes anime {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes anime {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
#main-galerias .tab-container .cs-grid-3cols {
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
#main-galerias .tab-container .cs-portfolio-card {
	padding: 10px;
}
#main-galerias .tab-container a.cs-button {
	color: var(--cs-s-heading);
	background-color: transparent;
	border: 1px solid var(--cs-s-heading);
	margin-bottom: 10px;
}
#main-galerias .tab-container a:hover.cs-button {
	border-color: var(--comustock);
}
#main-galerias .tab-container a.cs-button.active {
	border-color: var(--comustock);
	background-color: var(--comustock);
	pointer-events: none;
}
#main-galerias .tab-container a.cs-button.disabled {
	color: #f5f7fa66;
	border-color: #f5f7fa66;
	pointer-events: none;
}
#main-galerias .tab-container .cs-portfolio-card-footer {
	padding: 14px 0 9px 10px;
}
#main-galerias .tab-container .cs-portfolio-card-title h6 {
	font-size: 18px;
}
#main-galerias .tab-container .cs-grid-3cols .cs-square-button {
	width: 52px !important;
	height: 52px !important;
}
/* #main-galerias .tab-container .cs-masked-content.at-bottom-right .cs-square-button {
	margin: 20px 0 0 20px;
} */

/* RECURSOS */

#main-recursos #intro {
	padding: 50px 0 60px;
}

#main-recursos .link {
	border-radius: 0;
}
#main-recursos .link a.cs-square-button {
	background-color: transparent;
	border: 2px solid var(--cs-s-heading);
	transform: scale(1) !important;
	transition: all 0.2s ease-in-out;
}

#main-recursos .link:hover a.cs-square-button {
	border-color: var(--comustock);
	background-color: transparent;
}

#main-recursos .link:hover a:hover.cs-square-button {
	background-color: var(--comustock);
}

#main-recursos .link .cs-page-title {
	font-size: 28px;
	background: var(--cs-s-body-bg);
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	padding: 7px 17px 8px;
	border-radius: 12px;
	transform: translateY(5px);
	margin-bottom: 0;
}
#main-recursos .link .cs-highlight {
	padding-right: 95px;
}

#main-recursos #fuentes h3 {
	margin-bottom: 40px;
	padding-bottom: 20px;
	border-bottom: 1px dotted #f5f7fa66;
}

#main-recursos #fuentes .cs-icon-link i {
	transform: scale(1);
	width: 30px;
	height: 30px;
}
#main-recursos #fuentes .cs-icon-link:hover i {
	transform: scale(1.2);
}
#main-recursos #fuentes .cs-icon-link-content h6:first-child {
	margin-bottom: 10px;
}
#main-recursos #fuentes .cs-icon-link-content span {
	opacity: 1;
}

#main-toolkits #intro {
	padding: 80px 0 60px;
}

#main-toolkits #slider {
	padding-top: 0;
}

#main-toolkits #slider .cs-slider .cs-slide-content-inner {
	/* padding: var(--stg-gap) 100px; */
}

#pdf-container {
	padding-top: 70px;
}

#pdf canvas {
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	border-radius: 10px;
}
