:root {
	--color-brand: var(--flow);
	--color-brand-half: var(--flow-half);
	--color-brand-transparent: var(--flow-transparent);
}

/* SIDE MENU */
.side-menu .manual-de-marca .iso {
	background-image: url("../../content/identidad/ecosistema/flow/logos/svg/flow_iso_blanco.svg");
}
.side-menu a.manual-de-marca {
	background-color: var(--flow-transparent);
}
.side-menu a:hover.manual-de-marca {
	background-color: var(--flow);
}
/* SIDE MENU end */

#flow .brand-top.backlight-top::before {
	background: radial-gradient(
		80vw circle at 50vw -10%,
		var(--flow),
		var(--flow-null) 50%
	);
	left: 0;
}

#flow .brands-content #nuestro-ecosistema .box {
	border-color: var(--flow);
	background-color: var(--flow-transparent);
}

#flow #tamanos [class*="stg-col-"] .cs-grid-2cols div:nth-child(2) .cs-block {
	background-color: var(--flow);
}
