@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type="checkbox"],
  input[type="radio"] {
    --active: var(--comustock);
    --active-inner: #fff;
    --focus: 2px var(--comustock-hover);
    --border: #bbc1e1;
    --border-hover: var(--comustock);
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    padding: 0;
    transition: all 0.2s ease-in-out;
  }

  input[type="checkbox"]:after,
  input[type="radio"]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: all 0.2s ease-in-out;
  }

  input[type="checkbox"]:checked,
  input[type="radio"]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }

  input[type="checkbox"]:disabled,
  input[type="radio"]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }

  input[type="checkbox"]:disabled:checked,
  input[type="radio"]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }

  input[type="checkbox"]:disabled + label,
  input[type="radio"]:disabled + label {
    cursor: not-allowed;
  }

  input[type="checkbox"]:hover:not(:checked):not(:disabled),
  input[type="radio"]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }

  input[type="checkbox"]:focus,
  input[type="radio"]:focus {
    box-shadow: 0 0 0 var(--focus);
  }

  input[type="checkbox"]:not(.switch),
  input[type="radio"]:not(.switch) {
    width: 21px;
  }

  input[type="checkbox"]:not(.switch):after,
  input[type="radio"]:not(.switch):after {
    opacity: var(--o, 0);
  }

  input[type="checkbox"]:not(.switch):checked,
  input[type="radio"]:not(.switch):checked {
    --o: 1;
  }

  input[type="checkbox"] + label,
  input[type="radio"] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }

  input[type="checkbox"]:not(.switch) {
    border-radius: 7px;
  }

  input[type="checkbox"]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }

  input[type="checkbox"]:not(.switch):checked {
    --r: 43deg;
  }

  input[type="checkbox"].switch {
    width: 38px;
    border-radius: 11px;
  }

  input[type="checkbox"].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }

  input[type="checkbox"].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }

  input[type="checkbox"].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }

  input[type="radio"] {
    border-radius: 50%;
  }

  input[type="radio"]:after {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, 0.7));
  }

  input[type="radio"]:checked {
    --s: 0.5;
  }
}

#modal-download.fancybox__content > .f-button.is-close-btn {
  right: 0px;
  top: -70px;
  position: absolute;
  width: 50px;
  height: 52px;
  border-radius: 16px;
  border: 2px solid #fff;
  background-color: transparent;
  display: flex;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

#modal-download.fancybox__content > .f-button.is-close-btn:hover {
  background-color: var(--comustock);
  border-color: var(--comustock);
}

#modal-download.fancybox__content > .f-button svg {
  width: 18px;
  height: 18px;
  stroke-width: 3px;
  position: absolute;
  transition: all 0.2s ease-in-out;
}

#download-btn {
  background-color: var(--comustock-blue);
  border: 2px solid var(--comustock-blue);
  color: var(--comustock-light-grey);
  padding: 9px 18px;
  border-radius: 11px;
  margin-top: 10px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  transition: all 0.2s ease-in-out;
}

#download-btn .cs-icon {
  background: var(--comustock-light-grey);
   transition: all 0.2s ease-in-out;
}

#download-btn:hover {
  background-color: var(--comustock);
    border: 2px solid var(--comustock);

  color: var(--comustock-light-grey);
}

#download-btn:hover .cs-icon {
  background-color: var(--comustock-light-grey);
}

#download-btn[disabled] {
  background-color: #ccc;
  border: 2px solid #ccc;
  cursor: not-allowed;
}

#download-btn span {
  height: 15px;
  margin-left: 6px;
  margin-right: -7px;
}

.disclaimer-content {
  max-height: 0;
  overflow: hidden;
  margin: 5px 0 20px;
  padding: 0 0 0 32px;
  transition: all 0.2s ease-in-out;
}

.disclaimer-content.active {
  max-height: 200px;
}

#modal-download .disclaimer-content p {
  height: unset;
}

.disclaimer {
  margin-left: 6px;
  display: inline;
  font-size: 15px;
}

.fancybox__container {
  --fancybox-bg: rgba(24, 24, 27, 0.95);
}

#modal-download,
#modal-message {
  width: 370px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#download-file {
  padding: 10px;
  margin-bottom: 14px;
  display: flex;
  text-align: center;
  border-radius: 6px;
}

#download-file img {
  width: 100%;
}

#modal-download .format-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 24px auto;
}

#modal-download .format-container p {
  width: 100%;
  font-weight: 400;
  margin-bottom: 0;
}

#modal-download .format {
  display: flex;
  justify-content: space-between;
  gap: 6px;
}

#modal-download .format label {
  margin-bottom: 0;
  border: 2px solid transparent;
  background-color: var(--darkgrey-low);
  border-radius: 11px;
  transition: all 0.2s ease-in-out;
}

#modal-download .format label:hover {
  border-color: var(--comustock);
}

#modal-download .format-file {
  height: 40px;
  width: 40px;
}

#modal-download input[type="radio"] {
  position: absolute;
  opacity: 0;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-download input[type="radio"] + p {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: none;
  font-family: "Pulso" !important;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

#modal-download input + p {
  cursor: pointer;
}

#modal-download p {
  color: var(--darkgrey);
  height: 2rem;
}

#modal-download input:checked + p,
#modal-download input:focus + p {
  color: var(--comustock);
}

#modal-message {
  padding: 0;
}

#modal-message p {
  padding: 2rem 1rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.6;
  color: var(--darkgrey);
}
#modal-message p strong {
  font-weight: 700;
  color: var(--darkgrey);
}
