:root {
	--color-brand: var(--pay);
	--color-brand-half: var(--pay-half);
	--color-brand-transparent: var(--pay-transparent);
}

/* SIDE MENU */
.side-menu .manual-de-marca .iso {
	background-image: url('../../content/identidad/ecosistema/pay/logos/svg/pay_iso_blanco.svg');
}
.side-menu a.manual-de-marca {
	background-color: var(--pay-transparent);
}
.side-menu a:hover.manual-de-marca {
	background-color: var(--pay);
}
/* SIDE MENU end */

#pay .brand-top.backlight-top::before {
	background: radial-gradient(
		80vw circle at 50vw -10%,
		var(--pay),
		var(--pay-null) 50%
	);
	left: 0;
}

#pay .brands-content #nuestro-ecosistema .box {
	border-color: var(--pay);
	background-color: var(--pay-transparent);
}

#pay #tamanos [class*='stg-col-'] .cs-grid-2cols div:nth-child(2) .cs-block {
	background-color: var(--pay);
}

#pay #usos [class*='stg-col-'] .cs-grid-2cols div:nth-child(1) .cs-block {
	background: url('../../content/identidad/ecosistema/pay/lineamientos/pay_usosBG1.jpg');
}

#pay #usos [class*='stg-col-'] .cs-grid-2cols div:nth-child(2) .cs-block {
	background: url('../../content/identidad/ecosistema/pay/lineamientos/pay_usosBG2.jpg');
}

#pay #usos [class*='stg-col-'] .cs-grid-4cols div:nth-child(1) .cs-block {
	background: url('../../content/identidad/ecosistema/pay/lineamientos/pay_usosBG1.jpg');
}

#pay #usos [class*='stg-col-'] .cs-grid-4cols div:nth-child(2) .cs-block {
	background: url('../../content/identidad/ecosistema/pay/lineamientos/pay_usosBG1.jpg');
}
#pay #usos [class*='stg-col-'] .cs-grid-4cols div:nth-child(2) .cs-block {
	background: url('../../content/identidad/ecosistema/pay/lineamientos/pay_usosBG3.jpg');
}
#pay #usos [class*='stg-col-'] .cs-grid-4cols div:nth-child(3) .cs-block {
	background: url('../../content/identidad/ecosistema/pay/lineamientos/pay_usosBG4.jpg');
}
#pay #usos [class*='stg-col-'] .cs-grid-4cols div:nth-child(4) .cs-block {
	background: url('../../content/identidad/ecosistema/pay/lineamientos/pay_usosBG5.jpg');
}
